name: Compile packages

on:
  push:
    branches: '*'
  pull_request:
    branches: '*'

jobs:
  turris_mox:
    name: Turris MOX (aarch64_cortex-a53)
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    steps:
    # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
    - uses: actions/checkout@v2
    - name: Install dependencies
      run: sudo apt-get update; sudo apt-get -y install build-essential git ncurses-dev 
    - name: Run a one-line script
      run: git clone -b v5.3.10 --depth 1 'https://gitlab.nic.cz/turris/turris-build' "$GITHUB_WORKSPACE"/../turris-build
    - name: Update feeds.conf for local repo
      run: cd "$GITHUB_WORKSPACE"/../turris-build; sed -i "s|^src-git cesnet.*|src-git cesnet $GITHUB_WORKSPACE|" feeds.conf
    - name: Prepare build for Turris MOX
      run: cd "$GITHUB_WORKSPACE"/../turris-build; ./compile_pkgs prepare_tools -t mox
    - name: Compile ipfixprobe package
      run: cd "$GITHUB_WORKSPACE"/../turris-build/build/; make package/ipfixprobe/compile -j$(nproc)
    - name: Compile nemea-modules package
      run: cd "$GITHUB_WORKSPACE"/../turris-build/build/; make package/nemea-modules/compile -j$(nproc)
    - name: Collect artifacts
      run: mkdir /tmp/mox-cesnet; cp "$GITHUB_WORKSPACE/../turris-build/build/bin/packages/aarch64_cortex-a53/cesnet"/* /tmp/mox-cesnet/ 
    - uses: actions/upload-artifact@v2
      with:
        name: turris-mox-packages
        path: /tmp/mox-cesnet/
  
  tplink:
    name: TP-Link Archer C7 (mips_24k)
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    steps:
    # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
    - uses: actions/checkout@v2
    - name: Install dependencies
      run: sudo apt-get update; sudo apt-get -y install build-essential git ncurses-dev wget rsync
    - name: Download SDK
      run: cd ..; wget -O /dev/stdout "https://downloads.openwrt.org/releases/21.02.3/targets/ath79/generic/openwrt-sdk-21.02.3-ath79-generic_gcc-8.4.0_musl.Linux-x86_64.tar.xz" | tar -xJf -
    - name: Update feeds.conf for local repo
      run: cd "$GITHUB_WORKSPACE"/../openwrt-sdk-*-generic_gcc-*_musl.Linux-x86_64; echo "src-git cesnet $GITHUB_WORKSPACE" >> feeds.conf.default
    - name: Prepare build for TPLINK Archer C7
      run: cd "$GITHUB_WORKSPACE"/../openwrt-sdk-*-generic_gcc-*_musl.Linux-x86_64; ./scripts/feeds update -a; ./scripts/feeds install -a
    - name: Compile ipfixprobe package
      run: cd "$GITHUB_WORKSPACE"/../openwrt-sdk-*-generic_gcc-*_musl.Linux-x86_64; make defconfig; make package/ipfixprobe/compile -j$(nproc)
    - name: Collect artifacts
      run: mkdir /tmp/tplink-cesnet; cp "$GITHUB_WORKSPACE"/../openwrt-sdk-*-generic_gcc-*_musl.Linux-x86_64/bin/packages/mips_24kc/cesnet/* /tmp/tplink-cesnet/
    - uses: actions/upload-artifact@v2
      with:
        name: tplink-packages
        path: /tmp/tplink-cesnet/

